In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import sys

In [2]:
dframe = pd.read_csv('data/test.csv')
dframe

   n  e  w   s something
0  2  3  4   5         a
1  z  x  c   v        77
2  7  8  9  44         b

In [3]:
dframe = pd.read_csv('data/test.csv', header = None)
dframe

   0  1  2   3          4
0  n  e  w   s  something
1  2  3  4   5          a
2  z  x  c   v         77
3  7  8  9  44          b

In [4]:
pd.read_csv('data/test.csv', header = None, nrows = 2)

   0  1  2  3          4
0  n  e  w  s  something
1  2  3  4  5          a

In [5]:
dframe.to_csv('data/test_output.csv')

In [6]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_n_e_w_s_something
1_2_3_4_5_a
2_z_x_c_v_77
3_7_8_9_44_b

In [7]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,n,e,w,s,something
1,2,3,4,5,a
2,z,x,c,v,77
3,7,8,9,44,b

In [8]:
dframe.to_csv(sys.stdout, columns=[0, 1, 2])

,0,1,2
0,n,e,w
1,2,3,4
2,z,x,c
3,7,8,9