In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
series = Series([0, 1, 2], index=['a', 'b', 'c'])
series

a    0
b    1
c    2
dtype: int64

In [6]:
series2 = Series([3, 4, 5, 6], index=['z', 'x', 'c', 'v'])
series2

z    3
x    4
c    5
v    6
dtype: int64

In [7]:
series + series2

a    NaN
b    NaN
c    7.0
v    NaN
x    NaN
z    NaN
dtype: float64

In [8]:
dframe = DataFrame(np.arange(4).reshape((2, 2)), columns=list('ab'), index=list('zx')) # list('zx') - same as ['z', 'x']
dframe

   a  b
z  0  1
x  2  3

In [11]:
dframe2 = DataFrame(np.arange(9).reshape((3, 3)), columns=list('abc'), index=list('dxc'))
dframe2

   a  b  c
d  0  1  2
x  3  4  5
c  6  7  8

In [12]:
dframe + dframe2

     a    b   c
c  NaN  NaN NaN
d  NaN  NaN NaN
x  5.0  7.0 NaN
z  NaN  NaN NaN

In [14]:
dframe.add(dframe2, fill_value=0)

     a    b    c
c  6.0  7.0  8.0
d  0.0  1.0  2.0
x  5.0  7.0  5.0
z  0.0  1.0  NaN

In [17]:
dframe2

   a  b  c
d  0  1  2
x  3  4  5
c  6  7  8

In [18]:
series = dframe2.iloc[0]
series

a    0
b    1
c    2
Name: d, dtype: int32

In [19]:
dframe2 - series

   a  b  c
d  0  0  0
x  3  3  3
c  6  6  6