In [1]:
import pandas as pd
from pandas import Series, DataFrame
from pandas import read_html

In [2]:
url = 'https://en.wikipedia.org/wiki/UEFA_Champions_League'

In [3]:
dframe_list = read_html(url)

In [4]:
dframe = dframe_list[2]
dframe

,0,1,2,3,4
0,v t e Club,Winners,Runners-up,Years won,Years runner-up
1,Real Madrid,12,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
2,Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
3,Bayern Munich,5,5,"1974, 1975, 1976, 2001, 2013","1982, 1987, 1999, 2010, 2012"
4,Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"
5,Liverpool,5,2,"1977, 1978, 1981, 1984, 2005","1985, 2007"
6,Ajax,4,2,"1971, 1972, 1973, 1995","1969, 1996"
7,Internazionale,3,2,"1964, 1965, 2010","1967, 1972"
8,Manchester United,3,2,"1968, 1999, 2008","2009, 2011"
9,Juventus,2,7,"1985, 1996","1973, 1983, 1997, 1998, 2003, 2015, 2017"
10,Benfica,2,5,"1961, 1962","1963, 1965, 1968, 1988, 1990"
11,Nottingham Forest,2,0,"1979, 1980",—
12,Porto,2,0,"1987, 2004",—
13,Celtic,1,1,1967,1970
14,Hamburg,1,1,1983,1980
15,Steaua București,1,1,1986,1989
16,Marseille,1,1,1993,1991
17,Borussia Dortmund,1,1,1997,2013
18,Chelsea,1,1,2012,2008
19,Feyenoord,1,0,1970,—
20,Aston Villa,1,0,1982,—
21,PSV Eindhoven,1,0,1988,—
22,Red Star Belgrade,1,0,1991,—
23,Atlético Madrid,0,3,—,"1974, 2014, 2016"
24,Reims,0,2,—,"1956, 1959"
25,Valencia,0,2,—,"2000, 2001"
26,Fiorentina,0,1,—,1957
27,Eintracht Frankfurt,0,1,—,1960
28,Partizan,0,1,—,1966
29,Panathinaikos,0,1,—,1971
30,Leeds United,0,1,—,1975
31,Saint-Étienne,0,1,—,1976
32,Borussia Mönchengladbach,0,1,—,1977
33,Club Brugge,0,1,—,1978
34,Malmö FF,0,1,—,1979
35,Roma,0,1,—,1984
36,Sampdoria,0,1,—,1992
37,Bayer Leverkusen,0,1,—,2002
38,Monaco,0,1,—,2004
39,Arsenal,0,1,—,2006

In [5]:
dframe.columns.values

array([0, 1, 2, 3, 4], dtype=int64)