In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
series = Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
series

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
index = series.index
index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
index[2]

'c'

In [5]:
index[2:]

Index(['c', 'd'], dtype='object')

In [6]:
index[0] = 'aa'

TypeError: Index does not support mutable operations

In [7]:
series

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
series2 = series.reindex(['z', 'x', 'c', 'v', 'b', 'n'])
series2

z    NaN
x    NaN
c    3.0
v    NaN
b    2.0
n    NaN
dtype: float64

In [9]:
series2 = series.reindex(['a', 'b', 'c', 'd', 'z', 'n'])
series2

a    1.0
b    2.0
c    3.0
d    4.0
z    NaN
n    NaN
dtype: float64

In [10]:
series2.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'], fill_value=0)

a    1.0
b    2.0
c    3.0
d    4.0
e    0.0
f    0.0
g    0.0
dtype: float64

In [11]:
series2.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'], fill_value=2)

a    1.0
b    2.0
c    3.0
d    4.0
e    2.0
f    2.0
g    2.0
dtype: float64

In [12]:
series3 = Series(['Poland', 'Germany', 'Russia'], index=[1, 3, 9])
series3

1     Poland
3    Germany
9     Russia
dtype: object

In [13]:
range(15)

range(0, 15)

In [14]:
series3.reindex(range(15), method='ffill')  # ffill - forward fill - fill in the previously encountered value for null values

0         NaN
1      Poland
2      Poland
3     Germany
4     Germany
5     Germany
6     Germany
7     Germany
8     Germany
9      Russia
10     Russia
11     Russia
12     Russia
13     Russia
14     Russia
dtype: object

In [15]:
dframe = DataFrame(randn(25).reshape([5, 5]), index=['A', 'B', 'D', 'E', 'F'], 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.182676 -0.949683  0.540271 -1.431274 -0.836532
B -1.715656 -0.407211  0.199691 -0.036652 -2.358151
D  1.799293 -1.079428  1.181884  0.583661  0.899091
E -0.193542  1.127193 -0.740061 -0.488387 -0.681166
F -0.729614  0.719960 -0.541515  0.873913  1.838847

In [16]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -0.182676 -0.949683  0.540271 -1.431274 -0.836532
B -1.715656 -0.407211  0.199691 -0.036652 -2.358151
C       NaN       NaN       NaN       NaN       NaN
D  1.799293 -1.079428  1.181884  0.583661  0.899091
E -0.193542  1.127193 -0.740061 -0.488387 -0.681166
F -0.729614  0.719960 -0.541515  0.873913  1.838847

In [17]:
new_columns = ['col1', 'col2', 'col3', 'x', 'col4', 'col5', 'col6', 'col7']

In [18]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3   x      col4      col5  col6  col7
A -0.182676 -0.949683  0.540271 NaN -1.431274 -0.836532   NaN   NaN
B -1.715656 -0.407211  0.199691 NaN -0.036652 -2.358151   NaN   NaN
C       NaN       NaN       NaN NaN       NaN       NaN   NaN   NaN
D  1.799293 -1.079428  1.181884 NaN  0.583661  0.899091   NaN   NaN
E -0.193542  1.127193 -0.740061 NaN -0.488387 -0.681166   NaN   NaN
F -0.729614  0.719960 -0.541515 NaN  0.873913  1.838847   NaN   NaN

In [19]:
dframe

       col1      col2      col3      col4      col5
A -0.182676 -0.949683  0.540271 -1.431274 -0.836532
B -1.715656 -0.407211  0.199691 -0.036652 -2.358151
D  1.799293 -1.079428  1.181884  0.583661  0.899091
E -0.193542  1.127193 -0.740061 -0.488387 -0.681166
F -0.729614  0.719960 -0.541515  0.873913  1.838847

In [20]:
dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'], columns=new_columns)

       col1      col2      col3   x      col4      col5  col6  col7
A -0.182676 -0.949683  0.540271 NaN -1.431274 -0.836532   NaN   NaN
B -1.715656 -0.407211  0.199691 NaN -0.036652 -2.358151   NaN   NaN
C       NaN       NaN       NaN NaN       NaN       NaN   NaN   NaN
D  1.799293 -1.079428  1.181884 NaN  0.583661  0.899091   NaN   NaN
E -0.193542  1.127193 -0.740061 NaN -0.488387 -0.681166   NaN   NaN
F -0.729614  0.719960 -0.541515 NaN  0.873913  1.838847   NaN   NaN