In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import json

In [2]:
json_data = """
{
    "key": "value",
    "p": ["a", "b", "c"],
    "c": null,
    "a": [{"a": "z", "b": "c", "f": "f"}]
}
"""

In [3]:
data = json.loads(json_data)
data

{'a': [{'a': 'z', 'b': 'c', 'f': 'f'}],
 'c': None,
 'key': 'value',
 'p': ['a', 'b', 'c']}

In [4]:
json.dumps(data)

'{"key": "value", "p": ["a", "b", "c"], "c": null, "a": [{"a": "z", "b": "c", "f": "f"}]}'

In [5]:
dframe = DataFrame(data['a'])
dframe

   a  b  f
0  z  c  f