In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
series = Series(np.arange(3), index=['a', 'b', 'c'])
series

a    0
b    1
c    2
dtype: int32

In [3]:
series *= 4
series

a    0
b    4
c    8
dtype: int32

In [4]:
series['b']

4

In [5]:
series[1]

4

In [6]:
series[0:3]

a    0
b    4
c    8
dtype: int32

In [7]:
series[['b', 'a']]

b    4
a    0
dtype: int32

In [8]:
series[series > 3]

b    4
c    8
dtype: int32

In [9]:
series[series > 3] = 3
series

a    0
b    3
c    3
dtype: int32

In [10]:
dframe = DataFrame(np.arange(25).reshape((5, 5)), index=['a', 'b', 'c', 'd', 'e'], columns=['z', 'x', 'v', 'b', 'n'])
dframe

    z   x   v   b   n
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [11]:
dframe['z']

a     0
b     5
c    10
d    15
e    20
Name: z, dtype: int32

In [12]:
dframe[dframe['z'] > 10]

    z   x   v   b   n
d  15  16  17  18  19
e  20  21  22  23  24

In [13]:
dframe > 10

       z      x      v      b      n
a  False  False  False  False  False
b  False  False  False  False  False
c  False   True   True   True   True
d   True   True   True   True   True
e   True   True   True   True   True

In [14]:
dframe % 2 == 0

       z      x      v      b      n
a   True  False   True  False   True
b  False   True  False   True  False
c   True  False   True  False   True
d  False   True  False   True  False
e   True  False   True  False   True

In [15]:
dframe.loc['b']

z    5
x    6
v    7
b    8
n    9
Name: b, dtype: int32

In [16]:
dframe.iloc[1]

z    5
x    6
v    7
b    8
n    9
Name: b, dtype: int32